@import '../../App';

.contact {
    padding: 50px 0;
    background-color: $black-color;
    display: flex;
    flex-direction: column;
    text-align: center;

    h2 {
        color: $white-color;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 0;

        .image-container {
            background-image: url('../assets/images/Fill_form.jpg');
            background-size: 50% 100%;
            background-attachment: fixed;
            background-position-x: 0;
            background-position-y: 0;
            background-repeat: no-repeat;
        }

        .form-container {
            padding: 40px 0;
        }
    }

    .phrase {
        color: $primary-color;
        transition: color 0.3s ease-in;

        &:hover {
            color: $gold-hover;
        }
    }

    @media only screen and (max-width: 640px) {
        /*Mobile phones*/

        .content {
            grid-template-columns: repeat(1, 1fr);
            padding: 0;

            .image-container {
                display: none;
            }
        }
    }
}