@import '../../App';

.contact {
    padding: 50px 0 0 0;
    background-color: $black-color;
    display: flex;
    flex-direction: column;
    text-align: center;

    h2 {
        color: $white-color;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 0 0 0;

        .image-container {
            background:
                linear-gradient(to right, rgba(0, 0, 0, 0) 60%, $black-color 100%),
                url('../assets/images/Exterior_wash.png') left center / cover no-repeat;

            min-height: 420px;
        }

        .form-container {
            padding: 40px 0;
        }

        .text-container {
            align-content: center;
            padding: 40px 0;

            p {
                color: $primary-color;
                line-height: 1.4;
            }
        }
    }

    .phrase {
        color: $primary-color;
        transition: color 0.3s ease-in;

        &:hover {
            color: $gold-hover;
        }
    }

    @media only screen and (max-width: 640px) {
        /*Mobile phones*/

        .content {
            grid-template-columns: repeat(1, 1fr);
            padding: 0;

            .image-container {
                display: none;
            }
        }
    }
}