@import '../../App';

footer {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 60px 80px 20px;

    div {
        padding: 40px 7px;
        align-self: center;

        h3 {
            color: $white-color;
            margin: 15px 0;
        }

        ul {
            list-style: none;

            p {
                color: $white-color;

                &:hover {
                    cursor: pointer;
                    color: $primary-color;
                }
            }
        }

        p {
            color: $white-color;
        }
    }

    .menu {
        ul {
            li {
                display: flex;
            }
        }
    }

    .image {
        text-align: center;

        img {
            width: 70%;
            max-width: 100%;
            border-radius: 8px;
        }
    }

    .social {
        .social-media {
            display: flex;
            flex-direction: row;
            color: $white-color;

            .icon {
                font-size: 35px;
                margin: 0 12px;

                &:hover {
                    cursor: pointer;
                    color: $primary-color;
                    transform: scale(1.02);
                }
            }
        }
    }

    @media only screen and (max-width: 640px) {
        /*Mobile phones*/

        grid-template-columns: repeat(1, 1fr);

        div {
            text-align: center;

            ul {
                li {
                    display: block !important;
                }
            }
        }

        .image {
            display: none;
        }
    }
}

.copyright {
    background-color: black;
    text-align: center;

    h5 {
        color: $white-color;
    }
}