@import '../../App';

.form {

    h3 {
        color: $white-color;
    }

    .form-container {
        display: grid;
        width: 100%;
        gap: 20px;

        fieldset {
            display: flex;
            border: none;
            flex-direction: column;

            .Field {
                position: relative;
                padding: 24px 40px 24px 15px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: white;

                label {
                    flex: 0.5;
                }

                input,
                select {
                    width: 50%;
                    flex: 1;
                    padding: 15px;
                    font-size: 18px;
                    border-radius: 16px 0px 16px 0px;
                    border: 0.1px solid #495E57;
                }
            }

            .btn {
                width: 100%;

                button {
                    width: 70%;
                    padding: 18px;
                    background-color: $primary-color;
                    color: $white-color;
                    border-radius: 8px 16px 8px 16px;
                    border: none;
                    font-size: 18px;

                    &:hover{
                        cursor: pointer;
                        transform: scale(1.05);
                    }

                    &:disabled {
                        background-color: rgba(244, 206, 20, 0.5);
                    }
                }

            }
        }
    }
}